
<header class="home">
  <nav class=" navbar-inverse " role="navigation">
    <div class="container-fluid" style="background-color: black;">
      <div class="navbar-header">
        <a href="http://launchloyalty.com/" class="navbar-brand">
          <img
            src="./assets/images/LLlogo2.png"
            class="img-responsive"
            alt="Launch Loyalty"
          />
        </a>
      </div>
      <div class="text-center" style="color: white;">
        <div class="form-group"></div>
        For technical support or for assistance with your plan, please contact
        us at <span style="white-space:nowrap">844-405-6925</span>
      </div>
    </div>
    <div class="prog">
      <div id="bar" class="bar" style="width: 70%"></div>
    </div>
  </nav>
</header>
