<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Follow us:</h4>

        <p>
          <a href="https://www.facebook.com/launchloyalty" target="_blank">
            <img
              src="./assets/images/icon_facebook.jpg"
              alt="launchloyalty's Facebook Page"
          /></a>
          <a href="https://twitter.com/launchloyalty" target="_blank">
            <img
              src="./assets/images/icon_twitter.jpg"
              alt="launchloyalty's Twitter Page"
          /></a>
          <a
            href="https://www.linkedin.com/company/launchloyalty-international-corporation"
            target="_blank"
          >
            <img
              src="./assets/images/icon_linkedin.jpg"
              alt="launchloyalty's LinkedIn Page"
          /></a>
        </p>
        <h4>Contact us:</h4>
        <p>Phone: <a href="tel:8444056925">844-405-6925</a></p>
        <p>
          Email:
          <a href="mailto:email@launchloyalty.com">email@launchloyalty.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h4>Administered by:</h4>
        <p>
          Launch Loyalty<br />
          7400 Gaylord Pkwy<br />
          Frisco, TX 75034
        </p>
      </div>
    </div>
  </div>
</footer>
