<p *ngIf="_disableLink"> <a (click)="OpenRegsterForm()" href="#" style="text-decoration:solid;">Click here</a> to register before login into the application !</p>

<section class="content">
    <div class="container" *ngIf="_showUserRequirementsModal">
      <div class="row">       
        <div class="col-sm-8 col-sm-offset-2">
          <div class="login-box" >
            <div class="row">
              <div class="col-sm-12">
                <h2 class="h3 text-center">Register</h2>
                <form class="form-horizontal" #RegisterForm="ngForm" novalidate>                  
                    <div class="col-sm-9">
                        <label for="Email">Email</label>
                        <input class="form-control" type="text" maxlength="64" required #Email="ngModel" name="Email"
                          [(ngModel)]="_register.Email" placeholder="Email"
                          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$">
                        <div class="field-validation-error" style="color: red;" *ngIf="Email.errors?.required && Email.touched">
                          Email is required</div>
                        <div class="field-validation-error" style="color: red;" *ngIf="Email.errors?.pattern"> Email is invalid
                        </div>
                      </div>
                    
                    <div class="form-group">
                      <div class="col-sm-9">
                        <label for="password" class="col-sm-3 col-form-label">Password</label>
                        <input class="form-control" type="password" maxlength="20" required #Password="ngModel" name="password"
                          [(ngModel)]="_register.Password" placeholder="password">
                        <div class="field-validation-error" style="color: red;" *ngIf="Password.errors?.required && Password.touched">Password is required </div>
                        
                      </div>
                    </div>
                    <p class="text-center"><button type="submit" class="btn btn-primary"
                        (click)="Register(RegisterForm)">Register</button></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>